<%= link_to t('mating_unit.new'),
            new_admin_mating_unit_path,
            class: 'btn'
%>

<table class="table">
  <thead>
    <tr>
      <th>
        <%= t(:name, :scope => "activerecord.attributes.mating_unit") %>
      </th>
      <th>&nbsp</th>
      <th>&nbsp</th>
      <th>&nbsp</th>
     </tr>
  </thead>
  <tbody>
    <%= render @mating_units  %>
  </tbody>
</table>