<%= link_to t('mating_unit.new'),
            new_admin_mating_unit_path,
            class: 'btn'
%>

<table class="table">
  <thead>
    <tr>
      <th>
        <%= t(:name, :scope => "activerecord.attributes.mating_unit") %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @mating_units.each do |mating_unit| %>
    <tr id="<%= dom_id(mating_unit) %>">
      <td>
        <%= mating_unit.name %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>