/* global definitions */

html {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Verdana;
}

body {
  width: 980px;
  margin: 10px auto;
}

/* classes */

.shadow {

}


/* ids */

#header {
  background: #3197ce url("/images/header.png") top left no-repeat;
  height: 145px;
}