<h1><%= t(:mating_apinaries, :scope => :mating_apiary)%></h1>
<%= link_to t('mating_apiary.create_new'),
            new_admin_mating_apiary_path,
            title: t('mating_apiary.create_new'),
            class: 'btn'%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        &nbsp;
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
  <%= render @mating_apiaries %>
  </tbody>
</table>
