<nav>
  <ul>
    <li><%= link_to t(:mating_apiaries, :scope => :nav), mating_apiaries_path %></li>
    <li><%= link_to t(:profile,:scope => :nav), user_path(current_user.id) %></li>
    <li><%= link_to t('father_line.father_lines'), father_lines_path %></li>
  </ul>
</nav>