/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "bootstrap";
@mixin rounded-top {

  $radius: 5px;

  border-topleft-radius: $radius;
  border-topright-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-topleft-radius: $radius;
  -webkit-border-topright-radius: $radius;
}

@mixin rounded-bottom {

  $radius: 5px;

  border-bottomleft-radius: $radius;
  border-bottomright-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottomleft-radius: $radius;
  -webkit-border-bottomright-radius: $radius;
}

@mixin rounded {
  @include rounded-top;
  @include rounded-bottom;
}

@mixin shadow {
  $x: 0px;
  $y: 0px;
  $radius: 5px;
  $color: #d5d5d5;
  box-shadow: $x $y $radius $color;
  -moz-box-shadow: $x $y $radius $color;
  -webkit-box-shadow: $x $y $radius $color;
}

@mixin navbuttons {
  background: #f6e6b4; /* old browsers */
  background: -moz-linear-gradient(top, #f6e6b4 0%, #EAA959 42%, #E88D1E 52%, #E5AF72 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(42%,#EAA959), color-stop(52%,#E88D1E), color-stop(100%,#E5AF72)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#E5AF72',GradientType=0 ); /* ie */
}


/* global definitions */

$blue: #3197ce;

html {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Verdana;
}

body {
  width: 980px;
  margin: 0 auto;
}

header {

  @include rounded-top;
  background: $blue url("/assets/header.png") top left no-repeat;
  height: 145px;
  span {
    color: #FFFFFF;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    height: 50px;
    margin: auto;
    padding-top: 22px;
    width: 275px;
  }
}

nav {
  @include navbuttons;
  ul {
    letter-spacing: -6px;

    li {
      letter-spacing: -0.02em;
      border-radius: 2px;
      display: inline-block;
      border-right: 1px solid #E88104;
      border-bottom: 1px solid #E88104;
      border-left: 1px solid #E5D5C3;
      border-top: 1px solid #E5D5C3;
      height: 50px;
      width: 130px;
      text-align: center;
      line-height: 50px;



      a {

        text-decoration: none;
        color: #fff;
        font-weight: bold;
        display: inline-block;
        text-shadow: 1px 1px 1px #A7A7A7;
      }
    }
  }

}

article {
  h1 {
    font-weight: bold;
    font-size: 1.3em;
  }
}

/* classes */

.right_navigation {
  @include rounded;
  @include shadow;
  width: 250px;
}


/* ids */

#container {
  @include shadow;
  @include rounded-top;
  width: 980px;
  margin: 10px auto;
}
#user_nav,
#content {
  padding: 10px;
}

#content {
  form {
    width: 600px;
    @extend .well
  }
  input[type=text],
  input[type=email],
  input[type=password],
  textarea,
  select {

  }
  button {
    @extend .btn
  }
  button[type=submit] {
    @extend .btn-primary
  }
}


