<table>
  <thead>
    <tr>
      <th>
        <%= t(:email, :scope => 'activerecord.attributes.user')%>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.email %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>