<h1>Welcome</h2>
<p>
  Hi and welcome to the apiary mating manager. Here you can manage your mating 
  dates on the mating station.<br />
  As an owner and operator of an mating station you can manage your station.
</p>
<p>
  Create an Account <%= link_to t(:here), new_user_registration_path %>
</p>
    