<navigation >
  <ul class="right_navigation">
    <li><%= link_to t(:back), mating_apiary_path(mating_apiary) %></li>
    <li><%= link_to t(:deliveries, :scope => :mating_apiary),mating_apiary_deliveries_path(mating_apiary) %></li>
  </ul>
</navigation>      