<h2><%= "#{t('edit')} #{t('mating_apiary.mating_apiary')} #{@mating_apiary.name}" %></h2>
<%= semantic_form_for @mating_apiary,
                      html: { multipart: true } do |f|  %>
  <%= render partial: 'form', locals: { f: f} %>
<% end %>