<nav>
  <ul>
    <li><%= link_to t(:mating_apiaries, :scope => :admin_nav), admin_mating_apiaries_path %> </li>
    <li><%= link_to t(:users, :scope => :admin_nav), admin_users_path %></li>
    <li><%= link_to t(:mating_units,:scope => :admin_nav), admin_mating_units_path %></li>
  </ul>
</nav>